<div class="rows">
  <div class="col-md-8 col-sm-8"></div>
  <div class="col-md-4 col-sm-4">
    <button mat-flat-button color="primary" (click)="onAddRecord()"
      style="font-size: 20px; background-color:#4169E1; border-radius: 20px;">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New User
    </button>
  </div>
</div>
<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort multiTemplateDataRows>

    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </th>
      <td mat-cell *matCellDef="let row"> {{row.firstname}} </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let row"> {{row.lastname}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let row">
        <button (click)="onDelete(row)" mat-mini-fab color="primary">
          <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
        </button>&nbsp;&nbsp;
        <button (click)="onEdit(row)" mat-mini-fab color="basic">
          <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
        </button>&nbsp;&nbsp;
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
  <br>
</div>
<div class="rows">
  <div class="col-md-8 col-sm-8"></div>
  <div class="col-md-4 col-sm-4">
    <button mat-flat-button color="primary" (click)="onRenderRecord()"
      style="font-size: 20px; background-color:#4169E1; border-radius: 20px;">
      <span aria-hidden="true"></span>Rander Data
    </button>
  </div>
</div>
