<div class="row">
  <div class="col s12">
    <div id="html-validations" class="card card-tabs">
      <div class="card-content">
        <div class="card-title">
          <div class="row">
            <div class="col s12 m6 l10">
              <h4 class="card-title">Add User</h4>
            </div>
          </div>
        </div>
        <div>
          <form method="get" [formGroup]="addUserForm" (ngSubmit)="onUserAdd()" #f="ngForm">
            <div class="row form-group ">

              <div class="input-field col m6 s12">
                <input formControlName="firstname" matInput type="text" required placeholder="First Name*">
                <mat-label
                  *ngIf="addUserForm.get('firstname').hasError('required') && !addUserForm.get('firstname').pristine ">
                  First Name
                  is required.</mat-label>
                <mat-label
                  *ngIf="addUserForm.get('firstname').hasError('pattern') && !addUserForm.get('firstname').pristine ">
                  First
                  Name
                  should allow only charecters.</mat-label>
                <mat-label
                  *ngIf="addUserForm.get('firstname').hasError('minlength') && !addUserForm.get('firstname').pristine ">
                  First Name
                  should have minimum 3 charecters.</mat-label>
              </div>

              <div class="input-field col m6 s12">
                <input formControlName="lastname" matInput type="text" required placeholder="Last Name*">
                <mat-label
                  *ngIf="addUserForm.get('lastname').hasError('required') && !addUserForm.get('lastname').pristine ">
                  Last Name
                  is required.</mat-label>
                <mat-label
                  *ngIf="addUserForm.get('lastname').hasError('pattern') && !addUserForm.get('lastname').pristine ">
                  Last
                  Name
                  should allow only charecters.</mat-label>
              </div>

              <div class="input-field col s12">
                <button class="btn waves-effect waves-light right  form-control" type="submit" [disabled]="!f.valid"
                  mat-raised-button>Submit
                  <i class="material-icons right">send</i>
                </button>&nbsp;&nbsp;

                <button class="btn waves-effect waves-light form-control" style="float: left;margin-right: 0;"
                  type="button" mat-raised-button (click)="onReturn()">Back
                  <i class="fas fa-arrow-left"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
